body{
    margin:0;
    font-family:Arial;
    background:
    radial-gradient(circle at top,#0b1a2f,#05070d);
    color:white;
    }
    
    /* NAV */
    nav{
    display:flex;
    justify-content:space-between;
    padding:15px 25px;
    background:#0d111a;
    border-bottom:1px solid rgba(255,255,255,0.08);
    }
    
    .logo{
    color:#00bfff;
    font-weight:bold;
    font-size:22px;
    }
    
    nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    }
    
    /* HERO */
    .hero{
    height:65vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:
    linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
    url("../images/warranty.jpg");
    background-size:cover;
    background-position:center;
    padding:20px;
    }
    
    .hero h1{
    font-size:60px;
    color:#00bfff;
    }
    
    .hero p{
    color:#ddd;
    font-size:18px;
    margin-top:10px;
    }
    
    /* HIGHLIGHT */
    .highlight{
    padding:40px 20px;
    text-align:center;
    }
    
    .box{
    background:#111827;
    padding:30px;
    border-radius:20px;
    max-width:900px;
    margin:auto;
    border:1px solid rgba(255,255,255,0.08);
    }
    
    .badge{
    margin-top:20px;
    display:inline-block;
    background:#ffcc00;
    color:black;
    padding:10px 20px;
    border-radius:30px;
    font-weight:bold;
    }
    
    /* SECTION */
    .section, .devices{
    padding:60px 20px;
    text-align:center;
    }
    
    .title{
    font-size:32px;
    margin-bottom:30px;
    color:#00bfff;
    }
    
    .grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    }
    
    .card{
    background:#111827;
    padding:20px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,0.08);
    transition:0.3s;
    }
    
    .card:hover{
    transform:translateY(-6px);
    }
    
    /* CTA */
    .cta{
    padding:60px 20px;
    text-align:center;
    }
    
    .cta button{
    padding:15px 40px;
    border:none;
    border-radius:40px;
    background:#00bfff;
    color:black;
    font-weight:bold;
    cursor:pointer;
    font-size:18px;
    }